{
  "plugins": [
    "@babel/transform-runtime",
    "@babel/proposal-export-default-from",
    "@babel/proposal-export-namespace-from",
    "@babel/proposal-logical-assignment-operators",
    "@babel/proposal-nullish-coalescing-operator",
    "@babel/proposal-optional-chaining",
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-proposal-class-properties", {"loose": true}],
    "@babel/plugin-proposal-json-strings",
    "closure-elimination"
  ],

  "env": {
    "cjs": {
      "presets": [
        ["@babel/env", {"loose": true}],
        "@babel/react"
      ]
    },
    "es": {
      "presets": [
        ["@babel/env", {"modules": false, "loose": true}],
        "@babel/react"
      ]
    }
  }
}
